[post_processing]
username={{ sdp_username | default('sdpp') }}
password={{ sdp_password | default('foobar') }}

[esgf_credential]
openid={{ openid | default('https://esgf-data.dkrz.de/esgf-idp/openid/foo') }}
password={{ password | default('foo') }}

[globustransfer]
username={{ globus_username | default('globususername') }}
password={{ globus_password | default('foobar') }}
